<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Offensive Statistics</title>
</head>
<body>

<table>
<tr>
<th>FG's Made: </th>
			<th>FG's Taken: </th>
			<th>FT's Made: </th>
			<th>FT's Taken: </th>
			<th>TP's Made: </th>
			<th>TP's Taken: </th>
			<th>Field Goal Pct: </th>
			<th>Free Throw Pct: </th>
			<th>Three Point Pct: </th> 
			
		</tr>	
			<tr>
			<td th:text="${currentPlayer.stats.getId()}"/>
		<td th:text="${currentPlayer.stats.getFieldgoalsmade()}"/>		
		<td th:text="${currentPlayer.stats.getFieldgoalstaken()}"/>
		<td th:text="${currentPlayer.stats.getFreethrowsmade()}"/>
		<td th:text="${currentPlayer.stats.getFreethrowstaken()}"/>
		<td th:text="${currentPlayer.stats.getThreepointersmade()}"/>
		<td th:text="${currentPlayer.stats.getThreepointerstaken()}"/>
		<td th:text="${currentPlayer.stats.getFgpct()}"/>
		<td th:text="${currentPlayer.stats.getFtpct()}"/>
		<td th:text="${currentPlayer.stats.getTppct()}"/> 
		</tr>
		</table>
</body>
</html>