<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Offensive Statistics</title>
</head>
<body>

<p><span th:text="${player.getLastname()}"></span> <p/>

		
		<p>
			<span th:text="|FG's Made: ${stats.getFieldgoalsmade()}  |"></span>
		</p>	
		
		<p>
			<span th:text="|FG's Taken: ${stats.getFieldgoalstaken()}  |"></span>
		</p>
		
		<p>
			<span th:text="|FT's Made: ${stats.getFreethrowsmade()}  |"></span>
		</p>
		
		<p>
			<span th:text="|FT's Taken: ${stats.getFreethrowstaken()}  |"></span>
		</p>
		
		<p>
			<span th:text="|TP's Made: ${stats.getThreepointersmade()}  |"></span>
		</p>
		
		<p>
			<span th:text="|TP's Taken: ${stats.getThreepointerstaken()}  |"></span>
		</p>

		<p>
			<span th:text="|Field Goal Pct: ${fgpct} |"></span>
		</p>
		
		<p>
			<span th:text="|Free Throw Pct: ${ftpct} |"></span>
		</p>
		
		<p>
			<span th:text="|Three Point Pct: ${tppct} |"></span>
		</p>


		<span><a th:href="@{/editOffensiveStats/{id}(id=${stats.oid})}">Edit Offensive Stats</a></span>
		
		
			<!--  <p>FG's Made: </p>  <span th:text="${stats.getFieldgoalsmade()}"> </span>		
			<p>FG's Taken: </p>  <span th:text="${stats.getFieldgoalstaken()}"></span>
			<p>FT's Made: </p>
			<p>FT's Taken: </p>
			<p>TP's Made: </p>
			<p>TP's Taken: </p>
			<p>Field Goal Pct: <p>
			<p>Free Throw Pct: </p>
			<p>Three Point Pct: </p> 

		
		
		
		
		<td th:text="${stats.getFreethrowsmade()}"/>
		<td th:text="${stats.getFreethrowstaken()}"/>
		<td th:text="${stats.getThreepointersmade()}"/>
		<td th:text="${stats.getThreepointerstaken()}"/>
		<td th:text="${fgpct}"/>
		 <td th:text="${stats.getFtpct()}"/>
		<td th:text="${stats.getTppct()}"/> -->
	
</body>
</html>