<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Team Offensive Stats</title>
</head>
<body>
<header>Customer Cart</header>
		<table>
			<thead>
				<tr>
					<th>Player: </th>
					<th>Number: </th>
					<th>FG%: </th>
					<th>
				</tr>
			</thead>
			<tr th:each="currentOrderItems : ${players}">
				<td th:text="${currentOrderItems.getItemName()}" />
				<td th:text="${currentOrderItems.getQuantity()}" />
				<td th:text="${currentOrderItems.getRequest()}" />
				<td><a th:href="@{/updateOrderItem/{id}(id=${currentOrderItems.getId()})}">Update Order</a></td>
				<td><a th:href="@{/deleteOrderItem/{id}(id=${currentOrderItems.getId()})}">Remove from cart</a></td>
			</tr>
		</table>
</body>
</html>